//Create a partial for variables in your utilities folder
//Use this partial to create variables for your repeated values. At minimum, create variables for fonts, breakpoints, and colors. Import this partial into your utilities/index.scss file
//Colors
$hover-color: #7eddc2;
$focus-color: white;
$primary-color-text: grey;
$secondary-color-text: #51DDFC;

//Fonts
$font-stack-primary:'Neue Helvetica';
$font-stack_secondary: 'Italic';
$font-size: 1.2em;

// Breakpoints
$break-S: 480px; //mobile_layout
$break-L: 1400px; //desktop_layout


// Buttons color
$btn-color: (
    'default': #51DDFC,
    'success': #63CC82,
    'error': #E4757A,
    'warning': #FD7856,
    'info': #927BC1,
    ) ;

