//Inside your mixins partial, you’ll want to create mixins for:

//Media Queries
@mixin media {
    @media (min-width: $break-L) {
        display: flex;
    }
}

//LOGO AND NAV ITEMS


//Flexbox settings

//Form 
@mixin form {
    display: flex;
    flex-direction: column;
}
@mixin list {
    display: flex;
    justify-content: center;
}

@mixin grids {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: .5em;
}