//Inside your mixins partial, you’ll want to create mixins for:

//Media Queries
@mixin media {
    @media (min-width: $break-L) {
        display: flex;
    }
}

@mixin body {
    @media (min-width: $break-L) {
        margin: 1em 4em;
    }
}

@mixin header {
    @media (min-width: $break-L) {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 
}

@mixin headline-media {
    @media (min-width: $break-L){
       margin-bottom: 1em;
     }   
}
@mixin typography-media {
    @media (min-width: $break-L){
        padding: 2.2em;
     }   
}

@mixin form-media {
    @media (min-width: $break-L) {
        padding: 2em;
    }
}

@mixin label-media {
    @media (min-width: $break-L) {
        margin: 0.8em 1em;
    }  
}

@mixin buttons {
    @media (min-width: $break-L){
        margin: 1.5em;
     }   
}

@mixin buttons-grid {
    @media (min-width: $break-L){
        width: 1000px;
        display: flex;
        justify-content: space-around;
    }
}

@mixin login-button {
    @media (min-width: $break-L){
        margin: 0;
     }   
}

//LOGO AND NAV ITEMS


//Flexbox settings

//Form 
@mixin form {
    display: flex;
    flex-direction: column;
}
@mixin list {
    display: flex;
    justify-content: center;
}

@mixin grids {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: .5em;
}