//Inside your mixins partial, you’ll want to create mixins for:

//Media Queries
@mixin media {
    @media (min-width: $break-L) {
        display: flex;
    }
}

@mixin body {
    @media (min-width: $break-L) {
        margin: 1em 8em;
    }
}

@mixin grid {
    @media (min-width: $break-L) {
        width: 100%;
        display: flex;
        flex-direction: row;  
        justify-content: space-between;
        align-items: center;
    }
}


@mixin width {
    @media (min-width: $break-L) {
        width: 75%;
    }
}

@mixin nav {
    @media (min-width: $break-L) {
        vertical-align: middle;
        margin: 0;
    }
}

@mixin li {
    @media (min-width: $break-L) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 1.5em;
    }
}



@mixin headline {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
}
@mixin headline-media {
    @media (min-width: $break-L){
       margin-bottom: 1em;
     }   
}
@mixin typography-media {
    @media (min-width: $break-L){
        padding: 2.2em;
     }   
}

@mixin form-media {
    @media (min-width: $break-L) {
        padding: 2em;
    }
}

@mixin label-media {
    @media (min-width: $break-L) {
        margin: 0.8em 1em;
    }  
}
@mixin buttons {
    @media (min-width: 1400px){
        margin: 1.5em;
     }   
}
@mixin buttons-row {
    @media (min-width: $break-L){
        margin: 2em;
     }  
} 

@mixin buttons-grid {
    @media (min-width: $break-L){
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}

@mixin login-button {
    @media (min-width: $break-L){
        margin: 0;
     }   
}

@mixin grids-media {
    @media (min-width: $break-L){
       width: 100%;
       margin: 0.4em;
       display: flex;
       justify-content: center;
     }      
}



//LOGO AND NAV ITEMS


//Flexbox settings

//Form 
@mixin form {
    display: flex;
    flex-direction: column;
}
@mixin list {
    display: flex;
    justify-content: center;
}

@mixin grids {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}