//create placeholders for at least the following:

//Links
%link_col--8 {
    color: $secondary-color-text;
    font-weight: bold;
    font-size: 1.15em;
    text-decoration: none;
}

%anchor_nav_items {
   font-family: $font-stack-primary;
   color: $primary-color-text;
   font-size: $font-size;
}

%anchor_nav_items:hover {
    background-color: $hover-color;
}

%anchor_nav_items:focus {
    color: $focus-color;
}

//Images

%circle_images {
    width: 200px;
    height: 200px;
    margin: auto 100px;
}

//Headlines

//buttons
%btn-anch {
    text-decoration: none;
    width: 100%;
    height: 2.7em;
    border-radius: 0.2em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    margin: 0.7em 0;
}
//Components
   
   
