
//button for the form


@each $style, $color in $btn-color {
    .btn--#{$style}{
        background-color: $color;
    }
}


[class^="btn--"]{
    font-family: 'Arial', sans-serif;
    color: white;
    @mixin buttons {
        @media (min-width: 1400px){
            margin: 1.5em;
         }   
    }
    text-transform: uppercase;
}
.grid__col--12 {
    @include buttons-grid;
}


.btn--default.theme__colors[type="submit"] {
    @mixin login-button {
        @media (min-width: $break-L){
            margin: 0;
         }   
    }
}

