//button for the form

@each $style, $color in $btn-color {
  .btn--#{$style} {
    background-color: $color;
  }
}


[class^="btn--"] {
  font-family: "Arial", sans-serif;
  color: white;
  text-transform: uppercase;
    @media (min-width: 1400px) {
      margin: 4em;
    }
}

.grid__col--12 {
  @include buttons-grid;
}

 .grid__col--12 > button {
   @media (min-width: $break-L) {
   margin-right: 2em;
   margin-left: 1em;
  }
}

.btn--default.theme__colors[type="submit"] {
    @media (min-width: $break-L) {
      margin: 1.1em;
    }
}
