//form display
.form {
 @include form;
 @mixin form-media {
    @media (min-width: $break-L) {
        padding: 2em;
    }
}
}

//form label
.form__label--hidden {
    visibility: hidden;
}

//form input
.form__input {
    border-bottom: 0.5em #7eddc2 solid;
    padding: 0.5em 0em;
    padding-left: 0.8em;
    margin: 0.8em 0;
    font-size: 1em;
    @mixin label-media {
        @media (min-width: $break-L) {
            margin: 0.8em 1em;
        }  
    }
}

