
//list

.grid__col--3 {
    text-align: center;
}

@each $grid_co, $shade in $grid_colors {
    .grid__col--#{$grid_co}.theme__colors {
        background-color: $shade;
    }
}

.grid__col--12.theme__colors,
.grid__col--6.theme__colors, 
.grid__col--4.theme__colors,
.grid__col--3.theme__colors,
.grid__col--5.theme__colors,
.grid__col--8.theme__colors,
.grid__col--7.theme__colors { 
    width: 390px;
    @include grids;
    color: gray;    
    text-transform: lowercase;
    font-size: $font-size;
}


//media querie for desktop
.grid__row {
    margin-bottom: 2em;
    @include media;
}

.grid__row.grid__col--3,
.grid__row.grid__col--9 {
    @include header;
}