
//list


@each $grid_co, $shade in $grid_colors {
    .grid__col--#{$grid_co}.theme__colors {
        background-color: $shade;
    }
}

.theme__colors { 
    width: 390px; 
    font-size: $font-size;
    @include grids-media;
}

[class^="grid__col--"]{
    color: grey;
    padding-left: 0.5em;
    padding-top: 0.85em;
}

//media querie for desktop

.grid__row {
    margin-bottom: 2em;
    @media (min-width: $break-L) {
        display: flex;
    }
    @include grid;
    
}







