
//anchors

.nav a {
    text-decoration: none;
    list-style-type: none;
    color: $primary-color-text; 
    @extend %anchor_nav_items;
}

//main nav
.nav {
    margin-bottom: 4em;
    @include grid;
    @include nav;
}

.nav__item {
    @include li;
}


