//BLOCKQUOTE
.blockquote {
    margin: 1em 2em;
    padding-left: 1em;
    font-size: 1.50em;
    font-family: $font-stack-primary;
    color: 	#8c969d;
    font-style: italic;
    border-left: 0.4em #58E1C1 solid;
    border-radius: 2%;
}
