
//you can only apply styles to three different elements directly:
//the universal selector (*)
//ul elements
//p elements
* {
    margin: 0;
    border:0;
}

ul {
    padding: 0;
    width: 480px;
    margin: 0 20px;
}

li {
    @extend %anchor_nav_items;
    display: flex;
    justify-content: center;
<<<<<<< HEAD
=======
<<<<<<< HEAD
    @include list
=======
<<<<<<< HEAD
>>>>>>> 06db29a22d00b58d99a63717659afd50bd573dc2
    
    @include list;
>>>>>>> 29f978b85098a6301051bdc8ecc58ceedfd2ddbd
    align-items: center;
    height: 50px;
    font-size: 1em;
}

//paragraphs

p {
    font-size: 1.2em;
    color: 	#8c969d;
    font-family: $font-stack-primary;
}



