//you can only apply styles to three different elements directly:
//the universal selector (*)
//ul elements
//p elements
* {
    margin: 0;
    border:0;
}


//placeholders extends

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2.5em;
}

//logo
.img--logo {
    margin: 2.5em 0;
}

//list

.grid__col--3 {
    text-align: center;
}
ul {
    padding: 0;
    width: 480px;
    margin: 0 20px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

//paragraphs

p {
    font-size: 1.2em;
    color: 	#8c969d;
    font-family: $font-stack-primary;
}

.grid__col--12 p {
    margin: 4em 0;
}

.grid__col--8 p {
    margin: 1.5em 0;
}

//title

.headline--primary {
    margin: 10px;
    color: $hover-color;
    font-size: 2.5em;
}

