//you can only apply styles to three different elements directly:
//the universal selector (*)
//ul elements
//p elements
* {
    margin: 0;
    border:0;
}

ul {
    list-style: none;
}

//placeholders extends

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2.5em;
}

//logo

.img--logo {
    margin: 2.5em 0;
}
//list

.grid__col--3 {
    text-align: center;
}
ul {
    padding: 0;
    width: 480px;
}

li {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
//paragraph

p {
    margin: 4em 0;
    font-size: 1.15em;
    color: darkgrey;
    font-family: 'Lato', sans-serif;
}