//you can only apply styles to three different elements directly:
//the universal selector (*)
//ul elements
//p elements
* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border:0;
}
